{% extends 'base.html' %}
{% load custom_templatetags %}
{% block content %}
    {% include 'elements/navbar.html' %}
    {% include 'drawer.html' %}
    {% include 'drawer_js.html' %}
    <form class="ui form container segment" style="margin-top: auto !important; width: 80%" onsubmit="Loading()"
          action="{% url 'buscar_item' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
    <div class="ui center aligned field" style="display: flex; align-content: center; justify-content: center">
            <input class="" value="{{ fields.busca }}" id="txt_buscar" style="width: 60%" placeholder="Buscar"
               name="busca" type="text"/>
            <select class="ui fluid search dropdown" id="buscar_filtro" name="filtro" style="width: 10%!important; margin-left: 0.5rem">
                <option value="codigo" {% if fields.filtro == 'codigo' %}selected{% endif %}>Codigo</option>
                {% if not cad_pen %}
                    <option value="name" {% if fields.filtro == 'name' %}selected{% endif %}>Nome</option>
                {% endif %}
            </select>
            <input type="submit" value="Buscar" class="ui green button fixed" style="margin-left: 0.5rem">
    </div>
    <table class="ui celled table very compact striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Codigo</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for model in rows %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.name|null_value }}</td>
                    <td>{{ model.codigo }}</td>
                    <td>{{ model.id_und.nome }}</td>
                    <td>{{ model.qtde }}</td>
                    <td>
                        <a class="small button abre-popup"
                           href="{% url 'editar_item' model.id %}" data-tooltip="Editar Item">
                            <i class="orange wrench icon link"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
    <div class="floating_elements">
        <a onclick="exportXls('{% url 'estoque_rel_itens' %}')" class="button" id="floating_xls">
            <i class="circular inverted orange big file excel outline icon link abre-popup"
            data-content="Exportar Relatório"></i>
        </a>
    </div>
    <script>
        $('.floating_element').on('mousemove', function () {
            this.style.opacity = '100%';
        });

        $('.floating_element').on('mouseout', function () {
            this.style.opacity = '50%';
        });
        function exportXls(url){
            $.get(url).done(function (data){
                let decode = JSON.parse(data)
                document.location.href = decode.path
            })
        }
    </script>
{% endblock %}