{% extends 'base.html' %}
{% load custom_templatetags %}
{% block content %}
    {% include 'elements/navbar.html' %}
    {% include 'drawer.html' %}
    {% include 'drawer_js.html' %}
    <form class="ui form container segment" style="margin-top: auto !important; width: 80%" onsubmit="Loading()"
          action="{% url 'buscar_item' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
    <div class="ui center aligned field" style="display: flex; align-content: center; justify-content: center">
            <input class="" value="{{ fields.busca }}" id="txt_buscar" style="width: 60%" placeholder="Buscar"
               name="busca" type="text"/>
            <select class="ui fluid search dropdown" id="buscar_filtro" name="filtro" style="width: 10%!important; margin-left: 0.5rem">
                <option value="id_rfid" {% if fields.filtro == 'id_rfid' %}selected{% endif %}>RFID</option>
                {% if not cad_pen %}
                    <option value="name" {% if fields.filtro == 'name' %}selected{% endif %}>Nome</option>
                {% endif %}
            </select>
            <input type="submit" value="Buscar" class="ui green button fixed" style="margin-left: 0.5rem">
    </div>
    <table class="ui celled table very compact striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>RFID</th>
                <th>Data Ultima Alteração</th>
                <th>Em Estoque</th>
                <th>Responsavel pela Ultima Alteração</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for model in rows %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.name|null_value }}</td>
                    <td>{{ model.id_rfid }}</td>
                    <td>{{ model.data_last_alt|date:'d/m/Y h:m:s' }}</td>
                    <td>{{ model.available|bool_value }}</td>
                    <td>{{ model.id_user.first_name }}</td>
                    <td>
                        <a class="small button abre-popup"
                           href="{% url 'editar_item' model.id %}" data-tooltip="Editar Item">
                            <i class="orange wrench icon link"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
{% endblock %}