{% extends 'base.html' %}
{% load custom_templatetags %}
{% block content %}

    {% include 'elements/navbar.html' %}
    {% include 'drawer.html' %}
    {% include 'drawer_js.html' %}

    {% if flag %}
        <form class="ui form container segment" style="margin-top: auto !important;" onsubmit="Loading()"
          action="{% url 'atualizar_item' %}" method="POST" enctype="multipart/form-data">
    {% else %}
        <form class="ui form container segment" style="margin-top: auto !important;" onsubmit="Loading()"
          action="{% url 'inserir_item' %}" method="POST" enctype="multipart/form-data">
    {% endif %}

    <label for="usuario_id"></label>
    <input hidden value="{{ model.id }}" id="usuario_id" name="id">

    {% csrf_token %}

    <div class="two fields">
        <div class="field">
            <label for="txt_nome">Nome: *</label>
            <input class="" value="{{ model.name }}" id="txt_nome"
                   name="name" type="text" required/>
        </div>

        <div class="field">
            <label for="txt_codigo">Codigo: *</label>
            <input class="" value="{{ model.codigo }}" id="txt_codigo" type="text" required/>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="txt_id_und">UND: *</label>
            <select class="ui fluid search dropdown" id="txt_id_und" name="filtro" required>
                <option value="">Selecione</option>
                {% for und in tipo_und %}
                    <option value="{{ und.id }}" {% if model.id_und_id == und.id %}selected{% endif %}>{{ und.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="txt_qtde">Quantidade *:</label>
            <input value="{{ model.qtde }}" id="txt_qtde" type="text" required/>
        </div>
    </div>

    <div class="center fixed-action-btn" style="margin-left: 38%; margin-top: 2rem;">
        <input type="submit" value="Gravar" class="ui green button fixed df_button_width">
        <a class="ui yellow button fixed df_button_width" type="button" href="{% url 'buscar_item' %}">Voltar</a>
    </div>
</form>
{% endblock %}