{% extends 'base.html' %}
{% load custom_templatetags %}
{% block content %}

    {% include 'elements/navbar.html' %}
    {% include 'drawer.html' %}
    {% include 'drawer_js.html' %}
    <form class="ui form container segment" style="margin-top: auto !important;" onsubmit="Loading()"
          action="{% url 'atualizar_item' %}" method="POST" enctype="multipart/form-data">
    <label for="usuario_id"></label>
    <input hidden value="{{ model.id }}" id="usuario_id" name="id">

    {% csrf_token %}

    <div class="two fields">
        <div class="field">
            <label for="txt_nome">Nome:</label>
            <input class="" value="{{ model.name }}" id="txt_nome"
                   name="name" type="text" required/>
        </div>

        <div class="field">
            <label for="txt_id_rfid">RFID:</label>
            <input class="" value="{{ model.id_rfid }}" id="txt_rfid" readonly type="text"/>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="txt_data_last_alt">RFID de Acesso:</label>
            <input class="" value="{{ model.data_last_alt|date:'d/m/Y h:m:s' }}" id="txt_data_last_alt" type="text" readonly/>
        </div>
        <div class="field">
            <label for="txt_available">Em Estoque:</label>
            <input value="{{ model.available }}" id="txt_available" type="text" readonly/>
        </div>
    </div>

    <div class="center fixed-action-btn" style="margin-left: 38%; margin-top: 2rem;">
        <input type="submit" value="Gravar" class="ui green button fixed df_button_width">
        <a class="ui yellow button fixed df_button_width" type="button" href="{% url 'buscar_item' %}">Voltar</a>
    </div>
</form>
{% endblock %}